# Aufgaben

## Aufgabe 1:

Erweitern Sie Ihr Programm für den Warenkatalog um folgende Funktionen:

- Produktliste anzeigen lassen
- Produktdaten aktualisieren nach ID (Produkt ID)
- Produkt löschen

In [1]:
import mysql.connector as mc
import mysql
try:
    connection = mc.connect(
        host='localhost',
        user='root',
        password='12345',
    )
except mc.errors.ProgrammingError as e:
    print("Es ist folgende Fehler aufgetreten: \n ", e)
    
c = connection.cursor()

try:
    c.execute("CREATE DATABASE IF NOT EXISTS warenkatalog")
    print("Datenbank wurde erfolgreich angelegt")
except mysql.connector.Error as e:
    print("Es ist ein Fehler aufgetreten: \n ", e)
finally:
    connection.close()

Datenbank wurde erfolgreich angelegt

In [2]:
import mysql.connector as mc
import mysql
from sys import exit

try:
    connection = mc.connect(
        host='localhost',
        user='root',
        password='12345',
        db='warenkatalog'
    )
except mc.errors.ProgrammingError as e:
    print("Es ist folgende Fehler aufgetreten: \n ", e)
    exit(2)
c = connection.cursor()

sql = """CREATE TABLE IF NOT EXISTS products (
id INT(6) UNSIGNED AUTO_INCREMENT PRIMARY KEY,
title VARCHAR(30) NOT NULL,
company VARCHAR(30) NOT NULL,
price VARCHAR(30) NOT NULL)
"""
try: 
    c.execute(sql)
    
except:
    print("Es ist folgender Fehler aufgetreten")
    exit(1)

In [3]:
import mysql.connector as mc
import mysql
from sys import exit

try:
    connection = mc.connect(
        host='localhost',
        user='root',
        password='12345',
        db='warenkatalog'
    )
    c = connection.cursor()
except mc.errors.ProgrammingError as e:
    print("Es ist folgende Fehler aufgetreten: \n ", e)
    exit(1)

product = input("Please insert title of product: ")
company = input("Please insert company of product: ")
price = input("Please insert price of product: ")

sql = """INSERT INTO products (title, company, price) VALUES (%s, %s, %s)"""
params = (product, company, price) 

c.execute(sql, params)
connection.commit()
connection.close()

In [5]:
import mysql.connector as mc
from sys import exit

try:
    connection = mc.connect(
        host='localhost',
        user='root',
        password='12345',
        db='warenkatalog'
    )
    c = connection.cursor()
except mc.errors.ProgrammingError as e:
    print("Es ist folgende Fehler aufgetreten: \n ", e)
    exit(1)
    
sql = """SELECT * FROM products"""
c.execute(sql)
result = c.fetchall()
connection.close()
print("Ausgabe als Liste")
print(result)
print("Iteration")
for i in result:
    print(i)
print("New Iteration")
for _, name, company, price in result:
    print(name, company, price)

Ausgabe als Liste
[(1, 'milk', 'Danon', '1.5'), (2, 'butter', 'Danon', '2.5'), (3, 'meat', 'Burger', '8.9')]
Iteration
(1, 'milk', 'Danon', '1.5')
(2, 'butter', 'Danon', '2.5')
(3, 'meat', 'Burger', '8.9')
New Iteration
milk Danon 1.5
butter Danon 2.5
meat Burger 8.9

In [1]:
import mysql.connector as mc
from sys import exit

try:
    connection = mc.connect(
        host='localhost',
        user='root',
        password='12345',
        db='warenkatalog'
    )
    c = connection.cursor()
except mc.errors.ProgrammingError as e:
    print("Es ist folgende Fehler aufgetreten: \n ", e)
    exit(1)

sql = """SELECT * FROM products ORDER BY id DESC"""
c.execute(sql)
result = c.fetchall()
connection.close()
for i in result:
    print(i)

(8, "table 'Circle'", 'Kitchens', '241', '1', '1258-2568')
(7, "sofa 'Dream'", 'Tree', '612', '2', '35-668')
(6, "chair 'Star'", 'Big company', '187', '54', '25-65')
(5, 'table', 'Tree', '470', '5', '2587-8741')
(4, 'chair', 'Big company', '150', '21', '123-658')

In [12]:
import mysql.connector as mc
from sys import exit

try:
    connection = mc.connect(
        host='localhost',
        user='root',
        password='12345',
        db='warenkatalog'
    )
    c = connection.cursor()
except mc.errors.ProgrammingError as e:
    print("Es ist folgende Fehler aufgetreten: \n ", e)
    exit(1)
    
x = "meat"
params = (x, )
sql = """DELETE FROM products WHERE title = %s"""
c.execute(sql, params)
connection.commit()
connection.close()

### Aufgabe 2:
Erweitern Sie die Tabelle um einen Eintrag "stock".

Verwandeln Sie ihren Warenkatalog in ein kleines Warenwirtschatfsystem, in dem Sie die Bestände erweitern oder verkleinern können.

In [17]:
import mysql.connector as mc
from sys import exit

try:
    connection = mc.connect(
        host='localhost',
        user='root',
        password='12345',
        db='warenkatalog'
    )
    c = connection.cursor()
except mc.errors.ProgrammingError as e:
    print("Es ist folgende Fehler aufgetreten: \n ", e)
    exit(1)

sql = """ALTER TABLE products ADD COLUMN article VARCHAR(30)"""
c.execute(sql)
connection.commit()
connection.close()

### Aufgabe 3:
Schreiben Sie ein kleines konsolenbasiertes Menü, um ihr Programm komfortabel zu bedienen. Außerdem sollten Sie beim Start überprüfen, ob die benötigte Datenbank existiert. Wenn nicht, soll eine passende Datenbank angelegt werden.

In [2]:
import mysql.connector as mc
import mysql
from sys import exit


def add_data(cursor, connection, name, nummer, price):
    sql = """INSERT INTO katalog (Produktname, Artikelnummer, Netto_Price) VALUES (%s, %s, %s)"""
    params = (name, nummer, price)
    cursor.execute(sql, params)
    connection.commit()


def show_data(cursor):
    sql = """SELECT * FROM katalog"""
    cursor.execute(sql)
    result = cursor.fetchall()
    print("*" * 40)
    for id, name, nummer, price in result:
        print(f"{id} \t {name} \t{nummer} \t{price}")
    print("*" * 40)


def menu():
    print(
        "\tA / a: Vorhandene Tabellen anzeigen\n",
        "\tB / b: Daten hinzufügen\n"
        "\tE / e: End"
    )


def main():
    try:
        connection = mc.connect(
            host='localhost',
            user='root',
            password='12345',
        )

    except mc.errors.ProgrammingError as e:
        print("Es ist folgende Fehler aufgetreten: \n ", e)

    try:
        cursor = connection.cursor()
        cursor.execute("CREATE DATABASE IF NOT EXISTS store")
        cursor.execute("USE store")
        sql = """CREATE TABLE IF NOT EXISTS katalog(
        id INT AUTO_INCREMENT PRIMARY KEY,
        Produktname VARCHAR(30) NOT NULL,
        Artikelnummer VARCHAR(30) NOT NULL,
        Netto_Price FLOAT (7, 2))"""
        cursor.execute(sql)
    except mc.errors.ProgrammingError as e:
        print("Es ist folgende Fehler aufgetreten: \n ", e)

    while True:
        menu()
        ui = input("-> ").upper()
        if ui == "E":
            break
        elif ui == "A":
            show_data(cursor)
        elif ui == "B":
            name = input("Produktname: ")
            nummer = input("Artikelnummer: ")
            price = input("Netto_Price: ")
            add_data(cursor, connection, name, nummer, price)

    connection.close()


if __name__ == "__main__":
    main()

	A / a: Vorhandene Tabellen anzeigen
 	B / b: Daten hinzufügen
	E / e: End
****************************************
1 	 table 	123-654 	122.0
2 	 chair 	325-895 	57.33
3 	 table-kitchen 	698-784 	147.0
****************************************
	A / a: Vorhandene Tabellen anzeigen
 	B / b: Daten hinzufügen
	E / e: End
	A / a: Vorhandene Tabellen anzeigen
 	B / b: Daten hinzufügen
	E / e: End

<img style="float: center;" src="img/wbs-logo.jpg">

### Abbildungs- und Quellenverzeichnis
https://de.wikipedia.org/wiki/Python_(Programmiersprache)
Das Python Logo ist ein eingetragenes Warenzeichen der Python Software Foundation
Alle auf dieser Website veröffentlichten Logos sowie Marken-, Produkt- und Warenzeichen sind Eigentum der jeweiligen Unternehmen
© WBS TRAINING AG – Alle Rechte vorbehalten

### Nutzungsrechte:
Die Nutzung dieser Dokumentation ist ausschließlich für Schulungszwecke der WBS TRAINING AG gestattet. Eine Weitergabe an Dritte, auch auszugsweise, sowie Vervielfältigungen und Verbreitungen aller Art (elektronische und andere Verfahren) inklusive Übersetzungen sind nur mit vorheriger schriftlicher Zustimmung des Rechtinhabers gestattet. Zuwiderhandlungen verpflichten zu Schadenersatz.

### Herausgeber:

WBS TRAINING AG
Lorenzweg 5
12099 Berlin

### Haftungsausschluss:
Alle Inhalte sind nach bestem Wissen korrekt und vollständig recherchiert und mit größtmöglicher Sorgfalt für die Schulungsunterlage zusammengestellt. Wir sind um die laufende Aktualisierung aller Informationen und Daten bemüht. Dennoch können Fehler (z.B. Abweichungen zur beschriebenen Hard- und Software durch kurzfristige Updates) auftreten, sodass wir für die vollständige Übereinstimmung, Richtigkeit und Aktualität keine Gewähr übernehmen. Hinweise unserer Nutzer werden konsequent weiterverfolgt.