# Aufgaben

## Aufgabe 1:

#### Dokumente Einfügen und Abfragen

**Ziel**: Einfügen von Dokumenten in eine Collection und anschließende Abfrage bestimmter Daten.

Um die Arbeit zu erleichtert finden Soe in der nächsten Zelle ein paar Musterdaten, die sie verwenden können. 

Bitte fügen Sie trotzdem einige eigene Daten ein, um ein Gefühl für die Struktur zu bekommen:

In [ ]:
import pymongo

kunden_0 = [
    {"name": "Max Mustermann", "alter": 35, "stadt": "Berlin"},
    {"name": "Julia Schmidt", "alter": 28, "stadt": "Hamburg"},
    {"name": "Anna Meier", "alter": 42, "stadt": "München"},
    {"name": "Karl Müller", "alter": 31, "stadt": "Köln"},
    {"name": "Sara Herzog", "alter": 24, "stadt": "Frankfurt"}
]

Ihre Lösung:

In [1]:
from pymongo import MongoClient

client = MongoClient('mongodb://localhost:27017')
db = client["neueDatenbank"]

collection = db["kunden_collection"]

kunden = [
    {"name": "Max Mustermann", "alter": 35, "stadt": "Berlin"},
    {"name": "Julia Schmidt", "alter": 28, "stadt": "Hamburg"},
    {"name": "Anna Meier", "alter": 42, "stadt": "München"},
    {"name": "Karl Müller", "alter": 31, "stadt": "Köln"},
    {"name": "Sara Herzog", "alter": 24, "stadt": "Frankfurt"},
    {"name": "Tom Hanks", "alter": 54, "stadt": "Berlin"},
    {"name": "Tina Kandelaki", "alter": 48, "stadt": "Liverpool"},
    {"name": "Sandra Johns", "alter": 25, "stadt": "Hamburg"}
]
collection.insert_many(kunden)

InsertManyResult([ObjectId('662f87582ed6dd836f4cf2aa'), ObjectId('662f87582ed6dd836f4cf2ab'), ObjectId('662f87582ed6dd836f4cf2ac'), ObjectId('662f87582ed6dd836f4cf2ad'), ObjectId('662f87582ed6dd836f4cf2ae'), ObjectId('662f87582ed6dd836f4cf2af'), ObjectId('662f87582ed6dd836f4cf2b0'), ObjectId('662f87582ed6dd836f4cf2b1')], acknowledged=True)

#### Schritt 2:
Schreiben Sie eine Abfrage für Kunden, die älter als 30 Jahre sind:

Ihre Lösung:

In [5]:
daten = collection.find({"alter": {"$gte": 30}})
for i in daten:
    for key, value in i.items():
        print(f"{key}: {value}")
    print("*"*40)

_id: 662f87582ed6dd836f4cf2aa
name: Max Mustermann
alter: 35
stadt: Berlin
****************************************
_id: 662f87582ed6dd836f4cf2ac
name: Anna Meier
alter: 42
stadt: München
****************************************
_id: 662f87582ed6dd836f4cf2ad
name: Karl Müller
alter: 31
stadt: Köln
****************************************
_id: 662f87582ed6dd836f4cf2af
name: Tom Hanks
alter: 54
stadt: Berlin
****************************************
_id: 662f87582ed6dd836f4cf2b0
name: Tina Kandelaki
alter: 48
stadt: Liverpool
****************************************

In [6]:
daten = collection.find({"stadt": "Berlin"})
for i in daten:
    for key, value in i.items():
        print(f"{key}: {value}")
    print("*"*40)

_id: 662f87582ed6dd836f4cf2aa
name: Max Mustermann
alter: 35
stadt: Berlin
****************************************
_id: 662f87582ed6dd836f4cf2af
name: Tom Hanks
alter: 54
stadt: Berlin
****************************************

In [9]:
daten = collection.find({"$or": [{"name": {"$regex": ".*m.*"}}, { "name": {"$regex": ".*M.*"}}]})
for i in daten:
    for key, value in i.items():
        print(f"{key}: {value}")
    print("*"*40)

_id: 662f87582ed6dd836f4cf2aa
name: Max Mustermann
alter: 35
stadt: Berlin
****************************************
_id: 662f87582ed6dd836f4cf2ab
name: Julia Schmidt
alter: 28
stadt: Hamburg
****************************************
_id: 662f87582ed6dd836f4cf2ac
name: Anna Meier
alter: 42
stadt: München
****************************************
_id: 662f87582ed6dd836f4cf2ad
name: Karl Müller
alter: 31
stadt: Köln
****************************************
_id: 662f87582ed6dd836f4cf2af
name: Tom Hanks
alter: 54
stadt: Berlin
****************************************

In [19]:
daten = collection.find({"alter": {"$lte": 30}})
for i in daten:
    for key, value in i.items():
        print(f"{key}: {value}")
    print("*"*40)

_id: 662f87582ed6dd836f4cf2ab
name: Julia Schmidt
alter: 28
stadt: Hamburg
****************************************
_id: 662f87582ed6dd836f4cf2ae
name: Sara Herzog
alter: 24
stadt: Frankfurt
****************************************
_id: 662f87582ed6dd836f4cf2b1
name: Sandra Johns
alter: 25
stadt: Hamburg
****************************************

In [26]:
daten = collection.find({"name": {"$in": ["Sara Herzog"]}})
for i in daten:
    for key, value in i.items():
        print(f"{key}: {value}")
    print("*"*40)

_id: 662f87582ed6dd836f4cf2ae
name: Sara Herzog
alter: 24
stadt: Frankfurt
****************************************

In [31]:
daten = collection.find({"$and": [{"alter": {"$gte": 30}}, {"alter": {"$lte": 50}}]}).sort("stadt")
for i in daten:
    for key, value in i.items():
        print(f"{key}: {value}")
    print("*"*40)

_id: 662f87582ed6dd836f4cf2aa
name: Max Mustermann
alter: 35
stadt: Berlin
****************************************
_id: 662f87582ed6dd836f4cf2ad
name: Karl Müller
alter: 31
stadt: Köln
****************************************
_id: 662f87582ed6dd836f4cf2b0
name: Tina Kandelaki
alter: 48
stadt: Liverpool
****************************************
_id: 662f87582ed6dd836f4cf2ac
name: Anna Meier
alter: 42
stadt: München
****************************************

In [37]:
daten = collection.find().sort({"alter": -1})
for i in daten:
    for key, value in i.items():
        print(f"{key}: {value}")
    print("*"*40)

_id: 662f87582ed6dd836f4cf2af
name: Tom Hanks
alter: 54
stadt: Berlin
****************************************
_id: 662f87582ed6dd836f4cf2b0
name: Tina Newport
alter: 48
stadt: Liverpool
****************************************
_id: 662f87582ed6dd836f4cf2ac
name: Anna Meier
alter: 42
stadt: München
****************************************
_id: 662f87582ed6dd836f4cf2aa
name: Max Mustermann
alter: 35
stadt: Berlin
****************************************
_id: 662f87582ed6dd836f4cf2ad
name: Karl Müller
alter: 31
stadt: Berlin
****************************************
_id: 662f87582ed6dd836f4cf2ab
name: Julia Schmidt
alter: 28
stadt: Berlin
****************************************
_id: 662f87582ed6dd836f4cf2b1
name: Sandra Johns
alter: 25
stadt: Hamburg
****************************************
_id: 662f87582ed6dd836f4cf2ae
name: Sara Herzog
alter: 24
stadt: Frankfurt
****************************************

In [38]:
daten = collection.find().skip(2).limit(4)
for i in daten:
    for key, value in i.items():
        print(f"{key}: {value}")
    print("*"*40)

_id: 662f87582ed6dd836f4cf2ac
name: Anna Meier
alter: 42
stadt: München
****************************************
_id: 662f87582ed6dd836f4cf2ad
name: Karl Müller
alter: 31
stadt: Berlin
****************************************
_id: 662f87582ed6dd836f4cf2ae
name: Sara Herzog
alter: 24
stadt: Frankfurt
****************************************
_id: 662f87582ed6dd836f4cf2af
name: Tom Hanks
alter: 54
stadt: Berlin
****************************************

#### Schritt 3:

Bitte aktualisieren Sie ein Kundendokument.

In [32]:
daten = collection.update_one({"name": "Tina Kandelaki"},{"$set": {"name": "Tina Newport"}})
print(daten)

UpdateResult({'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [36]:
daten = collection.update_many({"$and": [{"alter": {"$gte": 28}}, {"alter": {"$lte": 40}}]},{"$set": {"stadt": "Berlin"}})

result = collection.find()
for i in result:
    for key, value in i.items():
        print(f"{key}: {value}")
    print("*"*40)

_id: 662f87582ed6dd836f4cf2aa
name: Max Mustermann
alter: 35
stadt: Berlin
****************************************
_id: 662f87582ed6dd836f4cf2ab
name: Julia Schmidt
alter: 28
stadt: Berlin
****************************************
_id: 662f87582ed6dd836f4cf2ac
name: Anna Meier
alter: 42
stadt: München
****************************************
_id: 662f87582ed6dd836f4cf2ad
name: Karl Müller
alter: 31
stadt: Berlin
****************************************
_id: 662f87582ed6dd836f4cf2ae
name: Sara Herzog
alter: 24
stadt: Frankfurt
****************************************
_id: 662f87582ed6dd836f4cf2af
name: Tom Hanks
alter: 54
stadt: Berlin
****************************************
_id: 662f87582ed6dd836f4cf2b0
name: Tina Newport
alter: 48
stadt: Liverpool
****************************************
_id: 662f87582ed6dd836f4cf2b1
name: Sandra Johns
alter: 25
stadt: Hamburg
****************************************

## Aufgabe 2:

#### Schreiben Sie ihr Warenwirtschaftssystem von SQL auf MongoDB um. 

Tipp: Es ist keine Funktion mehr nötig, die das vorhandensein einer Datenbank überprüft, da die ja "automatisch" angelegt wird. :)

In [ ]:
import pymongo
from pymongo import MongoClient


def main():
    client = MongoClient('mongodb://localhost:27017')
    db = client["neueDatenbank"]
    collection = db["warenkatalog"]

<img style="float: center;" src="img/wbs-logo.jpg">

### Abbildungs- und Quellenverzeichnis
https://de.wikipedia.org/wiki/Python_(Programmiersprache)
Das Python Logo ist ein eingetragenes Warenzeichen der Python Software Foundation
Alle auf dieser Website veröffentlichten Logos sowie Marken-, Produkt- und Warenzeichen sind Eigentum der jeweiligen Unternehmen
© WBS TRAINING AG – Alle Rechte vorbehalten

### Nutzungsrechte:
Die Nutzung dieser Dokumentation ist ausschließlich für Schulungszwecke der WBS TRAINING AG gestattet. Eine Weitergabe an Dritte, auch auszugsweise, sowie Vervielfältigungen und Verbreitungen aller Art (elektronische und andere Verfahren) inklusive Übersetzungen sind nur mit vorheriger schriftlicher Zustimmung des Rechtinhabers gestattet. Zuwiderhandlungen verpflichten zu Schadenersatz.

### Herausgeber:

WBS TRAINING AG
Lorenzweg 5
12099 Berlin

### Haftungsausschluss:
Alle Inhalte sind nach bestem Wissen korrekt und vollständig recherchiert und mit größtmöglicher Sorgfalt für die Schulungsunterlage zusammengestellt. Wir sind um die laufende Aktualisierung aller Informationen und Daten bemüht. Dennoch können Fehler (z.B. Abweichungen zur beschriebenen Hard- und Software durch kurzfristige Updates) auftreten, sodass wir für die vollständige Übereinstimmung, Richtigkeit und Aktualität keine Gewähr übernehmen. Hinweise unserer Nutzer werden konsequent weiterverfolgt.