<img style="float: right;" src="img/python.png">

# Teil 8: Datenbanken


## Vorbereitung:
Wir tasten uns an das Thema Datenbanken heran, indem wir uns SQLite bedienen. Diese Datenbank funktioniert ähnlich wie eine SQL-Datenbank wie MySQL oder Mariadb.<br>
Zur Übung können wir in diesen Fall zum warm werden erstmal eine Datenbank mithilfe von PyCharm erstellen. Gehen Sie bitte folgendermaßen vor. Fügen Sie eine Datenbank hinzu:<br>
<img height="536" src="img/sqlite3.png" width="390"/><br>
Erstellen Sie bitte eine neue Datenbank, diese nennen Sie bitte "**telefonbuch.sqlite**".<br><br>
<img style="float: right;" src="img/sqlite4.png">
<br>
Erstellen Sie jetzt bitte eine neue Tabelle "Liste" mit den folgenden Spalten:
<br> 
<img style="float: right;" src="img/sqlite5.png">
Die Datenbank soll die folgende Struktur aufweisen: <br>
<img style="float: right;" src="img/sqlite6.png"><br>
In diesem Fenster wird im unteren Bereich der SQL-Befehl angezeigt, der ausgeführt wird, 
damit die Tabellen angelegt werden:

Diesen kann man an dieser Stelle gut kopieren, um ihn später im Skript zum Erstellen einer neuen Datenbank zu nutzen, sollte keine vorhanden sein.
<br>
<img style="float: right;" src="img/sqlite6.png"><br>
<br>

In [ ]:
create table liste
(
    ID       integer
        primary key,
    vorname  text,
    nachname text,
    telefon  text
);

Dieser Code kann beispielsweise dafür genutzt werden, um beim Start eines Programms bei nichtvorhandensein der Datenbank eine neue Datenbank zu erstellen. <br>
zum Beispiel:

In [1]:
import sqlite3

conn = sqlite3.connect("telefonbuch-test.db")  # Verbindung zur Datenbank, wird erstellt, wenn nicht vorhanden
c = conn.cursor()  # Ein cursor wird erstellt
sql = """create table liste
(
    ID       integer
        primary key,
    vorname  text,
    nachname text,
    telefon  text
);
"""

c.execute(sql)  # SQL wird ausgeführt
conn.commit()   # SQL-Befehl wird bestätigt
conn.close()

OperationalError: table liste already exists

Pfard zur Datenbank erstellen (os)

In [ ]:

import os

app_path = os.path.abspath(__file__)  # Pfad zum aktuellen Skript wird festgestellt (inkl. Dateiname)
print(os.path.dirname(app_path))  # Der Ordner wird extrahiert
db_path = os.path.join(app_path, 'test.db')  # Der Pfad zur Datenbank wird zusammengestellt

Pfard ermitteln mit pathlib

In [ ]:

from pathlib import Path

app_path = Path(__file__).resolve()  # Pfad zum aktuellen Skript wird festgestellt (inkl. Dateiname)
print(app_path.parent)  # Der Ordner wird extrahiert
db_path = app_path.parent / 'test.db'  # Der Pfad zur Datenbank wird zusammengestellt

print(db_path)
# Pfad würde so verwendet werden:
# conn = sqlite3.connect(db_path)

Weitere Möglichkeit mit pathlib

In [ ]:

from pathlib import Path

# Wie ist der komplette Pfad zu meinem Skript?
mein_skript = Path(__file__)
print(mein_skript)  # Testausgabe

# Hier finde ich heraus, wie der komplette Ordnerpfad (absoluter Pfad) ist, in dem sich "mein_skript" befindet
ordner = mein_skript.parent

# Hier wird ausgegeben, wie der Pfad lautet, der entsteht, wenn ich die neue Datei in gerade herausgefundenen Pfad anlege:
zweitedatei = ordner / "neue-datei.txt"

Benutzerordner expandieren

Wenn Sie die Datenbank vorher löschen und dann wieder mit dem letzten Skript neu erstellen, können Sie den Erfolg rechts im Datenbank Browser von PyCharm überprüfen.

## Erste kleine Datenbankoperationen

### INSERT
Einfügen eines Namens und einer Rufnummer in unsere niegelnagelneuen Datenbank:

In [2]:
import sqlite3

conn = sqlite3.connect("telefonbuch.db")
c = conn.cursor()

# Variablen erstellen
vorname = input("Bitte geben Sie den Vornamen ein: ")# Ihr Code HIER!!!
nachname = input("Bitte geben Sie den Nachnamen ein: ")# Ihr Code HIER!!!
telefonnummer = input("Bitte geben Sie den Telefonnummer ein: ")# Ihr Code HIER!!!

# params = (vorname, )  # So muss ein Parameter aussehen, wenn er nur eine Variable enthält (Tuple)

params = (vorname, nachname, telefonnummer) # Parametertupel wird erstellt

sql = """INSERT INTO telefonbuch (vorname, nachname, telefonnummer) VALUES (?, ?, ?)"""

c.execute(sql, params)
conn.commit()
conn.close()

Vielleicht ist Ihnen aufgefallen, das wir die Variablen nicht direkt in die Abfrage schreiben, sondern als Parameter übergeben. Das hat einen Sicherheitsaspekt, dass zum Beispiel bei Webprogrammierung nicht einfach irgendwelche Werte als SQL-Injektion übergeben werden können.

<br>
Erfolgskontrolle:<br>
<img style="float: right;" src="img/sqlite7.png">
<br>
...bingo!

### SELECT
Damit die folgende Übung mehr Spaß macht, sollten noch ein paar Namen hinzugefügt werden (**Tipp**: Das geht ganz schnell, wenn man sich die Tabelle mit den Datenbankbrowser unter PyCharm auf macht):
<img style="float: right;" src="img/sqlite8.png">

In [11]:
import sqlite3

conn = sqlite3.connect("telefonbuch.db")
c = conn.cursor()

suchbegriff = "Trump"

params = (suchbegriff, )

sql = """SELECT * FROM telefonbuch WHERE nachname like (?)"""

ergebnis = c.execute(sql, params).fetchone()

# alternativ
# ergebnis = c.execute(sql, params)
# ergebnis = c.fetchall()

print(ergebnis)

(5, 'Anna', 'Trump', '04952315')

In [5]:
import sqlite3

conn = sqlite3.connect("telefonbuch.db")
c = conn.cursor()

suchbegriff = "Trump"

params = (suchbegriff, )

sql = """SELECT * FROM telefonbuch WHERE nachname like (?)"""

ergebnis = c.execute(sql, params).fetchall()

print(ergebnis)

[(5, 'Anna', 'Trump', '04952315'), (6, 'Bernd', 'Trump', '012547')]

Wildcards

In [13]:
import sqlite3

conn = sqlite3.connect("telefonbuch.db")
c = conn.cursor()

suchbegriff = "Trum%"

params = (suchbegriff, )

sql = """SELECT * FROM telefonbuch WHERE nachname like (?)"""

ergebnis = c.execute(sql, params).fetchall()

print(ergebnis)

[(5, 'Anna', 'Trump', '04952315'), (6, 'Bernd', 'Trump', '012547'), (7, 'Alice', 'Trumping', '123456')]

 Die Ausgabe ist auf den ersten Blick ein wenig "verwirrend", auf den zweiten Blick erkennen wir (hoffentlich), das es sich um eine Liste von Tupel handelt, also iterieren wir das Ganze mal durch:

In [6]:
for i in ergebnis:
    print(i)

(5, 'Anna', 'Trump', '04952315')
(6, 'Bernd', 'Trump', '012547')

Besser, aber nicht perfekt:

In [7]:
for id, vor, nach, nummer in ergebnis:
    print(id, vor, nach, nummer)

5 Anna Trump 04952315
6 Bernd Trump 012547

Ohne Zeilennummer:

In [9]:
for _, vor, nach, nummer in ergebnis:
    print(vor, nach, nummer)

5 Anna Trump 04952315
6 Bernd Trump 012547

## DELETE Daten löschen

Daten löschen gehört in Datenbanken in der Regel dazu... <br> <br>
Als erstes lassen wir uns nochmal den Inhalt der Tabelle "**Liste**" anzeigen. <br>
Zur besseren Übersicht mal den **vollständigen** Code um den kompletten Inhalt der Datenbank anzuzeigen:

Jetzt löschen wir den Eintrag Müller:

In [5]:
import sqlite3

conn = sqlite3.connect("telefonbuch.db")
c = conn.cursor()

suchgriff = "Müller"
params = (suchgriff, )

sql = """DELETE FROM telefonbuch WHERE nachname = ?"""
c.execute(sql, params)
conn.commit()
conn.close()

In [ ]:
# Ihr Code HIER!!!

Führen wir jetzt die Codezelle aus, um den Inhalt der Datenbank anzuzeigen, stellen Sie fest, das der **Eintrag 3** *fehlt*.

## UPDATE
Frau Müller hat geheiratet und heißt jetzt Meier....

In [15]:
import sqlite3

conn = sqlite3.connect("telefonbuch.db")
c = conn.cursor()

vorname = "Ute"
nachname = "Müller"
nachname_neu = "Meier"

params = (nachname_neu, vorname, nachname)

sql = """UPDATE telefonbuch SET nachname = ? WHERE vorname = ? AND nachname = ?"""
c.execute(sql, params)
conn.commit()
conn.close()

## DROP Table - Tabellen löschen

Als erstes erstellen wir uns schnell eine neue Tabelle, damit wir diese löschen können. ;-) <br><br>
Diese erstellen wir in derselben Datei:

In [ ]:
import sqlite3

conn = sqlite3.connect("telefonbuch.db")  # Verbindung zur Datenbank, wird erstellt, wenn nicht vorhanden
c = conn.cursor()  # Ein cursor wird erstellt
sql = """create table if not exists haustiere
(
    ID       integer
        primary key,
    vorname  text,
    nachname text,
    telefon  text
);
"""

c.execute(sql)  # SQL wird ausgeführt
conn.commit()   # SQL-Befehl wird bestätigt
conn.close()

Wie Ihnen vielleicht aufgefallen ist, nutzen wir in diesen Fall ein zusätzliches Statement "**TABLE IF NOT EXISTS**" Dieses Statement sorgt dafür, das die Tabelle nur dann erstellt wird, wenn diese NICHT bereits existiert.<br><br>Wenn Sie den Datenbankbrowser aktualisieren, sehen Sie die neue Datenbank: <br>
<img style="float: right;" src="img/sqlite9.png"><br>
Jetzt löschen wir diese wieder:

In [6]:
import sqlite3

conn = sqlite3.connect("telefonbuch.db")  
c = conn.cursor()

sql = """DROP TABLE IF EXISTS haustiere"""
c.execute(sql) 
conn.commit()   
conn.close()

Und schon ist die Tabelle wieder weg.<br> <br>

Eine Spalte einer Tabelle hinzufingen

In [ ]:
import sqlite3

# Verbindung zur SQLite-Datenbank herstellen
conn = sqlite3.connect('telefonbuch.db')
cursor = conn.cursor()

# SQL-Befehl zum Hinzufügen einer Spalte zur Tabelle
sql = """
ALTER TABLE telefonbuch
ADD COLUMN strasse TEXT;
"""

# Hier ersetze 'telefonbuch' durch den Namen deiner vorhandenen Tabelle
# und 'new_column_name' durch den Namen der neuen Spalte, die du hinzufügen möchtest.
# 'TEXT' ist der Datentyp der neuen Spalte, zum Beispiel 'INTEGER', 'TEXT', 'REAL', etc.

# Ausführen des SQL-Befehls
cursor.execute(sql)

# Änderungen in der Datenbank speichern
conn.commit()

# Verbindung zur Datenbank schließen
conn.close()

## Fazit:
Wie Sie sehen sind Datenbanken unter Python keine große Schwierigkeit. Natürlich können wir an einem Vormittag nicht alle Befehle durchgehen, aber das ist eine gute Basis.<br>
In den Zusatzinformationen zu dieser Woche finden Sie einige Cheatsheets zum Thema Datenbank. Diese werden Ihnen sicherlich sehr behilflich sein.

## SQLite vs. MySQL etc.
Für diese Vorlesung und den dazugehörigen Demos reicht SQLite vollkommen aus. Auf Webservern werden Sie natürlich kein SQLite, sondern MySQL, MariaDB oder ähnliches finden. In der Nutzung unterscheidet sich da nicht sehr. 

Es stehen ein paar mehr Funktionen zur Verfügung.

**Eine Vorlesung zum Thema MySQL folgt...**

## Ein kleines Telefonbuch (Optional)

Wir schreiben ein kleines Telefonbuch:

Folgende Funktionen soll unser kleines Telefonbuch enthalten:
* hinzufügen eines Vornamen, Nachname und dazugehörige Rufnummer
* Nummer eines Eintrags ausgeben
* Einträge löschen
* das komplette Telefonbuch anzeigen lassen
* das Ganze über ein Textmenü
* objektorientiert

Das Menü könnte folgendermaßen aussehen:

Telefonbuch
Bitte wählen Sie ...
1 - Eintrag hinzufügen
2 - Nummer ausgeben
3 - Nummer löschen
4 - Liste anzeigen
e - Ende
Ihre Auswahl:

In [1]:

import sqlite3

conn = sqlite3.connect("telefonbuch-new.db")  
c = conn.cursor()

sql = """DROP TABLE IF EXISTS liste"""
c.execute(sql) 
conn.commit()   
conn.close()

OperationalError: database is locked

In [2]:
conn.close()

In [1]:
import sqlite3

conn = sqlite3.connect("telefonbuch-new.db")
c = conn.cursor()
sql = """create table IF NOT EXISTS liste
(
    ID       integer
        primary key,
    vorname  text,
    nachname text,
    telefon  text
    );
    """
c.execute(sql) 

print("Welcome to new phonebook! \n If you want start press any key. \n If you want exit from programm, type 'stop' or 'exit'.")
    
while True:
    vorname = input("Bitte geben Sie den Vornamen ein: ")
    nachname = input("Bitte geben Sie den Nachnamen ein: ")
    telefon = input("Bitte geben Sie den Telefonnummer ein: ")
        
    params = (vorname, nachname, telefon)
    sql2 = """INSERT INTO liste (vorname, nachname, telefon) VALUES (?, ?, ?)"""

    c.execute(sql2, params)
    if vorname == "stop":
        break
    
    
    
conn.commit()
conn.close()

Welcome to new phonebook!
 If you want start press any key.
 If you want exit from programm, type 'stop' or 'exit'.

OperationalError: database is locked

In [2]:
conn.close()

In [10]:
import sqlite3


name_file = "telefonbuch-new.db"
table_name = "users_list"
#conn = sqlite3.connect(name_file)  # Verbindung zur Datenbank, wird erstellt, wenn nicht vorhanden
#c = conn.cursor()  # Ein cursor wird erstellt

def new_table(filename, table_name):
    conn = sqlite3.connect(name_file)
    c = conn.cursor()
    sql = """create table IF NOT EXISTS table_name
    (
        ID       integer
        primary key,
        vorname  text,
        nachname text,
        telefon  text
    );
    """
    c.execute(sql)  # SQL wird ausgeführt
    conn.commit()
    conn.close()# SQL-Befehl wird bestätigt
    


def fill_table(filename):
    conn = sqlite3.connect(name_file)
    c = conn.cursor()
    print("Welcome to new phonebook! \n If you want start press any key. \n If you want exit from programm, type 'stop' or 'exit'.")
    stop_words = ["stop", "exit", "quit"]
    ui = input()
    while ui in stop_words:
        vorname = input("Bitte geben Sie den Vornamen ein: ")# Ihr Code HIER!!!
        nachname = input("Bitte geben Sie den Nachnamen ein: ")# Ihr Code HIER!!!3
        telefonnummer = input("Bitte geben Sie den Telefonnummer ein: ")
        params = (vorname, nachname, telefonnummer)
        sql = """INSERT INTO users_list (vorname, nachname, telefon) VALUES (?, ?, ?)"""

        c.execute(sql, params)
    else:
        conn.commit()
    conn.close()


def find_number(username, filename):
    conn = sqlite3.connect(name_file)
    c = conn.cursor()
    params = (username, )
    sql = """SELECT telefonnummer FROM filename  WHERE nachname=username;"""
    result = c.execute(sql, params).fetchall()
    return print(result)
    
def main():
    name_file = "telefonbuch-new.db"
    table_name = "users_list"
    table_name1 = new_table(name_file, table_name)
    data = fill_table(table_name1)
    res = find_number("Smith",data)
    conn.close()
    return res
    

main()

Welcome to new phonebook!
 If you want start press any key.
 If you want exit from programm, type 'stop' or 'exit'.

OperationalError: no such table: filename

In [7]:
conn.close()

In [1]:
import sqlite3

conn = sqlite3.connect("telefonbuch-small.db")  
c = conn.cursor()

sql = """DROP TABLE IF EXISTS users_list"""
c.execute(sql) 
conn.commit()   
conn.close()

OperationalError: database is locked

In [9]:
import sqlite3

name_file = "telefonbuch-new.db"
table_name = "users_list"
#conn = sqlite3.connect(name_file)  # Verbindung zur Datenbank, wird erstellt, wenn nicht vorhanden
#c = conn.cursor()  # Ein cursor wird erstellt

def new_table(filename, table):
    conn = sqlite3.connect("telefonbuch-new.db")
    c = conn.cursor()
    sql = """create table IF NOT EXISTS users_list
    (
        ID       integer
        primary key,
        vorname  text,
        nachname text,
        telefon  text
    );
    """
    c.execute(sql)  # SQL wird ausgeführt
    conn.commit()
    conn.close()# SQL-Befehl wird bestätigt
    
    


def fill_table():
    conn = sqlite3.connect(name_file)
    c = conn.cursor()
    print("Welcome to new phonebook! \n If you want start press any key. \n If you want exit from programm, type 'stop' or 'exit'.")
    stop_words = ["stop", "exit", "quit"]
    ui = input()
    while ui in stop_words:
        vorname = input("Bitte geben Sie den Vornamen ein: ")# Ihr Code HIER!!!
        nachname = input("Bitte geben Sie den Nachnamen ein: ")# Ihr Code HIER!!!3
        telefonnummer = input("Bitte geben Sie den Telefonnummer ein: ")
        params = (vorname, nachname, telefonnummer)
        sql = """INSERT INTO users_list (vorname, nachname, telefon) VALUES (?, ?, ?)"""

        c.execute(sql, params)
    else:
        conn.commit()
    conn.close()


def find_number(username, filename):
    conn = sqlite3.connect(name_file)
    c = conn.cursor()
    params = (username, )
    sql = """SELECT telefonnummer FROM filename  WHERE nachname=username;"""
    result = c.execute(sql, params).fetchall()
    return print(result)
    
def main():
    name_file = "telefonbuch-small.db"
    table_name = "users_list"
    table_name1 = new_table(name_file, table_name)
    data = fill_table(table_name1)
    res = find_number("Smith",data)
    conn.close()
    return res
    

main()

TypeError: new_table() takes 0 positional arguments but 2 were given

<img style="float: center;" src="img/wbs-logo.jpg">


### Abbildungs- und Quellenverzeichnis

Das Python Logo ist ein eingetragenes Warenzeichen der Python Software Foundation
Alle auf dieser Website veröffentlichten Logos sowie Marken-, Produkt- und Warenzeichen sind Eigentum der jeweiligen Unternehmen
© WBS TRAINING AG – Alle Rechte vorbehalten

### Nutzungsrechte:
Die Nutzung dieser Dokumentation ist ausschließlich für Schulungszwecke der WBS TRAINING AG gestattet. Eine Weitergabe an Dritte, auch auszugsweise, sowie Vervielfältigungen und Verbreitungen aller Art (elektronische und andere Verfahren) inklusive Übersetzungen sind nur mit vorheriger schriftlicher Zustimmung des Rechtinhabers gestattet. Zuwiderhandlungen verpflichten zu Schadenersatz.

### Herausgeber:

WBS TRAINING AG
Lorenzweg 5
12099 Berlin
Haftungsausschluss:
Alle Inhalte sind nach bestem Wissen korrekt und vollständig recherchiert und mit größtmöglicher Sorgfalt für die Schulungsunterlage zusammengestellt. Wir sind um die laufende Aktualisierung aller Informationen und Daten bemüht. Dennoch können Fehler (z.B. Abweichungen zur beschriebenen Hard- und Software durch kurzfristige Updates) auftreten, sodass wir für die vollständige Übereinstimmung, Richtigkeit und Aktualität keine Gewähr übernehmen. Hinweise unserer Nutzer werden konsequent weiterverfolgt.